<ng-content></ng-content>
<!-- ng g d directive/unless --spec false -->
<div class="container well">
    <input type="text" 
        #childCtrl 
        (keyup)="onkeyup(childCtrl.value)">
</div>
<h1>User Component Template Loaded!!</h1>

<h2>First Name : {{ firstName }}</h2>

<h2>Coming from Parent : {{ title }}</h2>

<ul class="list-unstyled">
<div class="container">
<li class="well" *ngFor="let user of users; index as i; even as isEven; first as isFirst">
<div class="row">
    <div class="col-sm-2 col-m-2">
        #{{ i }} <br>
        Is this Even ? {{ isEven }} <br>
        Is this first ? {{ isFirst }}
        <img [src]="user.image" alt="">
        <br>
        <button 
            class="btn btn-info btn-sm"
            (click)="moreInfo(user)">More Info</button>
    </div>
    <div class="col-sm-8 col-md-8">
        <h1 appHighlight [defaultColor]="myColor"> {{ user.firstName }} {{ user.lastName }}</h1>
        <!-- <p [ngClass]="['feature', 'myClass']"> Date of Birth : <span [innerHTML]="user.dob"></span></p> -->
        <p [ngClass]="{ feature : isEven, myClass : isFirst }"> Date of Birth : <span [innerHTML]="user.dob"></span></p>
        <!-- <p [ngClass]="allClasses"> Date of Birth : <span [innerHTML]="user.dob"></span></p> -->
        <!-- <p *ngIf="user.isWorking; else ElseTemplate"> 
            Income : {{ user.income }}</p> -->
        
        <p *appUnless="!user.isWorking">
            Income {{ user.income }}</p>
        <ng-template #ElseTemplate>
            <p>{{ user.firstName }} is not working now!</p>
        </ng-template>
        <!-- <ng-template [ngIf]="user.isWorking">
            <p> Income : {{ user.income }} </p>
        </ng-template> -->

        <em class="pull-right">
            Total Vote : {{ user.vote }}
            <!-- <input type="number" 
                [value]="user.vote"
                (change)="user.vote=$event.target.value"
                class="form-control"> -->
            <input type="number" 
                [(ngModel)]="user.vote"
                class="form-control">
        </em>
    </div>
</div>
</li>
</div>
</ul>

<ng-content select="footer"></ng-content>